/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
.hidden {
  display: none;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-size: 100%;
}

* {
  /* border: solid black 1px; */
}

header {
  display: flex;
  align-items: center;
  margin: 0;
  border: 2px black;
  background-color: #0fb9b1;
  height: 70px;
  margin-bottom: 50px;
}

#header-container {
  display: flex;
  margin: 1.8em;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 430px;
  background-color: rgba(225, 225, 225, .9);
}

.required {
  color: #ee5253;
}

#meal-box {
  display: flex;
  align-items: flex-start;
}

#meal-container {
  margin: 50px;
  font-size: 125%;
}

#center-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.radio-button {
  margin-bottom: 25px;
}


#cook-button {
  border-radius: 5px;
  border: 0px;
  height: 36px;
  width: 190px;
  background-color: #0fb9b1;
  font-size: 75%;
}

.third {
  height: 170px;
  width: 510px;
}


.clear {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#clear-button {
  border-radius: 5px;
  border: 0px;
  height: 36px;
  width: 80px;
  background-color: #95a5a6;
  color: white;
  margin: 20px;
}

.meal-idea {
  margin: 0px;
  font-size: 300%;
}

#should-make {
  margin: 0px;
  font-size: 120%;
  font-style: italic;
}

#pot-container {
  height: 135px;
  width: 135px;
}
